.axis {
    font: 12px arial;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.arc text {
    font: 12px arial;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}